<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>J.A.R.V.I.S</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/paulvisciano/SCI-FI/apps/JARVIS/launch-jarvis.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/paulvisciano/SCI-FI/apps/JARVIS/JARVIS.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/paulvisciano/SCI-FI/apps/JARVIS/JARVIS.err</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>VOICE_PORT</key>
        <string>18787</string>
    </dict>
</dict>
</plist>
